<!doctype html>
<meta charset="UTF-8">
<title>Notification</title>
<link rel="stylesheet" type="text/css" href="style.css">

<body>
  <div style="position: fixed; top: 0; right: 0;">
    <button id="btn1">Show simple message!</button>
  </div>

  <div class="notification success" style="--value:20s">
    <div class="timer"></div>
    <div class="inner-wrapper">
      <div class="notification-header">success</div>
      <div class="notification-body">
        Hello world
      </div>
    </div>
  </div>
</body>


