<div class="notification notification_success show">
    <div class="notification__content">Category order saved</div>
  </div>

  <img src="./notification-error.svg" alt="">

  --blue: #109cf1;
  --dark-blue: #334d6e;
  --light-blue: #cfebfc;
  --middle-blue: #9fd7f9;
  --yellow: #ffb946;
  --red: #f7685b;
  --green: #2ed47a;
  --purple: #885af8;
  --black: #192a3e;
  --table-black: #323c47;
  --table-grey: #707683;
  --grey: #90a0b7;
  --grey-light: #c2cfe0;
  --grey-extra-light: #eff1f4;
  --grey-middle: #e0e4eb;
  --grey-skeleton: #f5f6f8;
  --white: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  background-color: var(--black);
  opacity: 0.8;
  border-radius: 4px;
  position: fixed;
  right: 75px;
  bottom: 75px;
  display: block;
  animation: fadeIn 0.3s linear;

  