.notification {
  background-color: var(--black);
  opacity: 0.8;
  border-radius: 4px;
  -webkit-animation: fadeOut 0.3s linear;
  animation: fadeOut 0.3s linear;
  display: none;
  position: fixed;
  right: 75px;
  bottom: 75px;
}

.notification.show {
  display: block;
  -webkit-animation: fadeIn 0.3s linear;
  animation: fadeIn 0.3s linear;
}

.notification__content {
  padding: 16px 24px 16px 64px;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  position: relative;
}

.notification.notification_success .notification__content::after,
.notification.notification_error .notification__content::after {
  content: '';
  position: absolute;
  left: 24px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translate(0, -50%);
  background-size: 24px 24px;
}

/* Success */
.notification.notification_success .notification__content::after {
  background: url(../../assets/icons/icon-success.svg) center no-repeat;
}

/* Error */
.notification.notification_error .notification__content:after {
  background: url(../../assets/icons/icon-error.svg) center no-repeat;
}

.inner-wrapper {
  padding: 5px;
}

.timer {
  width: 100%;
  height: 2px;
  animation: progress var(--value) linear;
}

.notification-header {
  text-transform: capitalize;
  font-size: 12px;
}

.notification-body {
  font-weight: bold;
}

@keyframes fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
