.notification {
  background-color: var(--black);
  opacity: 0.8;
  border-radius: 4px;
  position: fixed;
  right: 75px;
  bottom: 75px;
}

.notification.show {
  display: block;
  animation: fadeIn 0.3s linear;
}

.notification__content {
  padding: 16px 24px 16px 64px;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
  position: relative;
}

.notification .notification__content:before {
  position: absolute;
  left: 24px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translate(0, -50%);
}

.notification.notification_success .notification__content:before {
  content: url(../../assets/icons/icon-circle-check.svg);
}

.notification.notification_error .notification__content:before {
  content: url(../../assets/icons/icon-error.svg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
