.dashboard__charts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  --chart-height: 50;
}

.dashboard__chart_orders {
  --chart-column-color: var(--yellow);
}

.dashboard__chart_sales {
  --chart-column-color: var(--green);
}

.dashboard__chart_customers {
  --chart-column-color: var(--purple);
}

.dashboard .sortable-table {
  --cols: 6;
}


.note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-sizing: border-box;
  box-shadow: rgb(193 38 38 / 24%) 0px 3px 8px;
  background-color: aliceblue;
  padding: 20px;
}

.note__img {
  width: 20px;
  height: 20px;
  display: inline;
  position: absolute;
  top: 5%;
  left: 95%;
  cursor: pointer;
}

.note__img_hide {
  display: none;
}