<!doctype html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="root"></div>

<script type="module">
  import SortableTable from './index.js';

  const header = [
    {
      id: 'images',
      title: 'Image',
      sortable: false,
      template: (data = []) => {
        return `
          <div class="sortable-table__cell">
            <img class="sortable-table-image" alt="Image" src="${data[0]?.url}">
          </div>
        `;
      }
    },
    {
      id: 'title',
      title: 'Name',
      sortable: true,
      sortType: 'string'
    },
    {
      id: 'quantity',
      title: 'Quantity',
      sortable: true,
      sortType: 'number'
    },
    {
      id: 'price',
      title: 'Price',
      sortable: true,
      sortType: 'number'
    },
    {
      id: 'status',
      title: 'Status',
      sortable: true,
      sortType: 'number',
      template: data => {
        return `<div class="sortable-table__cell">
          ${data > 0 ? 'Active' : 'Inactive'}
        </div>`;
      }
    },
  ];

  const sortableTable = new SortableTable(header, {
    url: 'api/rest/products'
  });

  root.append(sortableTable.element);
</script>
</body>
