.products-list form.form-inline {
  grid-template-columns: 3fr 3fr 2fr;
  grid-gap: 46px;
}

.products-list form.form-inline .form-label {
  margin-bottom: 0;
  margin-right: 16px;
}

.products-list form.form-inline .form-group {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}