@import url("common.css");

/* Styles for components  */
/* components */
@import url("../components/sortable-table/style.css");
@import url("../components/sortable-list/style.css");
@import url("../components/double-slider/style.css");
@import url("../components/notification/style.css");
@import url("../components/range-picker/style.css");
@import url("../components/tooltip/style.css");
@import url("../components/column-chart/style.css");
@import url("../components/product-form/style.css");
@import url("../components/categories/style.css");

/* Styles for pages  */
/* pages */
@import url("../pages/style.css");
@import url("../pages/dashboard/style.css");
