<!doctype html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="05-events-practice/3-double-slider/src/style.css">
</head>
<body>
  <div class="range-slider">
    <span>$10</span>
    <div class="range-slider__inner">
      <span class="range-slider__progress"></span>
      <span class="range-slider__thumb-left"></span>
      <span class="range-slider__thumb-right"></span>
    </div>
    <span>$100</span>
  </div>

  <div class="range-slider">
    <span>$30</span>
    <div class="range-slider__inner">
      <span class="range-slider__progress" style="left: 0%; right: 0%"></span>
      <span class="range-slider__thumb-left" style="left: 0%"></span>
      <span class="range-slider__thumb-right" style="right: 0%"></span>
    </div>
    <span>$70</span>
  </div>

  <div class="range-slider">
    <span>$30</span>
    <div class="range-slider__inner">
      <span class="range-slider__progress" style="left: 30%; right: 30%"></span>
      <span class="range-slider__thumb-left" style="left: 30%"></span>
      <span class="range-slider__thumb-right" style="right: 30%"></span>
    </div>
    <span>$70</span>
  </div>

  <div class="range-slider">
    <span>$30</span>
    <div class="range-slider__inner">
      <span class="range-slider__progress" style="left: 50%; right: 50%"></span>
      <span class="range-slider__thumb-left" style="left: 50%"></span>
      <span class="range-slider__thumb-right" style="right: 50%"></span>
    </div>
    <span>$70</span>
  </div>
</body>
