.range-slider__inner {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4px;
  margin: 10px 14px;
  background: var(--light-blue);
  box-shadow: 0 0 1px var(--grey-light);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.range-slider__thumb-right,
.range-slider__thumb-left {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  height: 18px;
  width: 6px;
  background: url("range-thumb-icon.svg") left center no-repeat;
  background-size: cover;
  cursor: grab;
}

/* cursor over all slider, so that if the cursor moves out of the thumb, it's still grabbing */
.range-slider_dragging,
.range-slider_dragging .range-slider__thumb-right,
.range-slider_dragging .range-slider__thumb-left {
  cursor: grabbing;
}

.range-slider__thumb-left {
  left: 0;
  margin-left: -6px;
}

.range-slider__thumb-right {
  right: 0;
  transform: rotate(180deg);
  margin-right: -6px;
}

.range-slider__progress {
  background: var(--blue);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.range-slider {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 60px;
}

.range-slider > span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--table-grey);
  width: 60px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.range-slider > span:first-child {
  text-align: right;
  left: 0;
}

.range-slider > span:last-child {
  right: 0;
}
