/* Common styles */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

:root {
  --blue: #109cf1;
  --dark-blue: #334d6e;
  --light-blue: #cfebfc;
  --middle-blue: #9fd7f9;
  --yellow: #ffb946;
  --red: #f7685b;
  --green: #2ed47a;
  --purple: #885af8;
  --black: #192a3e;
  --table-black: #323c47;
  --table-grey: #707683;
  --grey: #90a0b7;
  --grey-light: #c2cfe0;
  --grey-extra-light: #eff1f4;
  --grey-skeleton: #f5f6f8;
  --grey-middle: #e0e4eb;
  --white: #ffffff;
}

/* SortableList styles */
.sortable-list {
  position: relative;
  padding: 0;
  margin: 12px 0;
}

.sortable-list__item {
  min-height: 60px;
  background-color: var(--white);
  list-style: none;
  padding: 16px 16px 16px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  margin: 16px 0;
  position: relative;
  box-sizing: border-box;
}

.sortable-list__item[data-grab-handle],
.sortable-list__item [data-grab-handle] {
  cursor: grab;
}

.sortable-list__item [data-delete-handle] {
  cursor: pointer;
}

.sortable-list__item-arrow {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid var(--grey-light);
  position: absolute;
  left: 16px;
  top: -50%;
  transform: translate(0, -50%);
}

.sortable-list__item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: var(--dark-blue);
}

.sortable-list__item-nav {
  display: flex;
  flex-direction: row;
}

.sortable-list__item-nav > a {
  font-size: 16px;
  line-height: 24px;
  color: var(--blue);
  display: inline-flex;
  padding: 0 4px;
  border-left: 1px solid var(--grey-light);
}

.sortable-list__item-nav > a:first-child {
  border-left: none;
}

.sortable-list__item.sortable-list__item_dragging {
  position: fixed;
  max-width: 100%;
  cursor: grabbing;
  border: 1px solid var(--blue);
  margin: 0;
  z-index: 10000;
}

.sortable-list__placeholder {
  border: 1px solid var(--blue);
  margin: 16px 0;
  border-radius: 4px;
  box-sizing: border-box;
}
