@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.main {
  display: grid;
  grid-template-columns: 256px 1fr;
  grid-template-rows: minmax(100vh, auto);
  grid-template-areas: "sidebar content";
}

.content {
  grid-area: content;
  background: var(--grey-skeleton);
  padding: 24px 36px;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  background: var(--white);
  box-shadow: 6px 0 18px rgba(0, 0, 0, 0.06);
  padding: 24px 26px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.is-collapsed-sidebar .sidebar ul {
  margin-left: -3px;
}

.is-collapsed-sidebar .sidebar ul a span,
.is-collapsed-sidebar .sidebar ul button span {
  display: none;
}

.is-collapsed-sidebar .sidebar__title {
  font-size: 12px;
  line-height: 1.2;
  margin-left: -16px;
  text-align: center;
  width: 48px;
}

.is-collapsed-sidebar .main {
  grid-template-columns: 70px 1fr;
}

.is-collapsed-sidebar .sidebar__nav_bottom li {
  height: 24px;
}

.sidebar__title {
  font-size: 24px;
  line-height: 36px;
  height: 36px;
  color: var(--dark-blue);
  margin-top: 0;
  margin-bottom: 32px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.sidebar__title a {
  text-decoration: none;
  color: inherit;
}

.sidebar__title a:hover {
  text-decoration: underline;
}

.sidebar__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar__nav li {
  margin-bottom: 16px;
}

.sidebar__nav li:last-child {
  margin-bottom: 0;
}

.sidebar__nav li a,
.sidebar__nav li button {
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-blue);
  text-decoration: none;
  padding-left: 32px;
  position: relative;
}

.sidebar__nav li a i,
.sidebar__nav li button i {
  color: var(--grey-light);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.sidebar__nav li a:hover,
.sidebar__nav li a:focus,
.sidebar__nav li a:active,
.sidebar__nav li.active a,
.sidebar__nav li a:hover i,
.sidebar__nav li a:focus i,
.sidebar__nav li a:active i,
.sidebar__nav li.active a i,
.sidebar__nav li button:hover,
.sidebar__nav li.active button,
.sidebar__nav li button:hover i,
.sidebar__nav li.active button i {
  color: var(--blue);
}

.sidebar__toggler {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  height: 24px;
}

.content__top-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.content__top-panel .form-inline {
  width: 50%;
}

.page-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: var(--grey);
  margin: 0;
}

.page-title .link {
  text-decoration: none;
  color: var(--blue);
}

.page-title .link.disabled {
  color: inherit;
  pointer-events: none;
}

.block-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--grey);
  margin: 40px 0 24px;
}

.content-box {
  padding: 34px 32px 48px;
  background-color: var(--white);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  margin-bottom: 24px;
}

.content-box.content-box_small {
  padding: 16px 32px;
}

.progress-bar {
  background-color: var(--grey);
  box-shadow: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10px;
  display: none;
  z-index: 1;
}

.progress-bar__line {
  height: 100%;
  box-shadow: none;
  animation: progress-bar-stripes 2s linear infinite;
  background: var(--blue)
  linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 40px 40px;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.main.is-loading .progress-bar {
  display: block;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

:root {
  --blue: #109cf1;
  --dark-blue: #334d6e;
  --light-blue: #cfebfc;
  --middle-blue: #9fd7f9;
  --yellow: #ffb946;
  --red: #f7685b;
  --green: #2ed47a;
  --purple: #885af8;
  --black: #192a3e;
  --table-black: #323c47;
  --table-grey: #707683;
  --grey: #90a0b7;
  --grey-light: #c2cfe0;
  --grey-extra-light: #eff1f4;
  --grey-skeleton: #f5f6f8;
  --grey-middle: #e0e4eb;
  --white: #ffffff;
}

/* DoubleSlider styles */
.range-slider__inner {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4px;
  margin: 10px 14px;
  background: var(--light-blue);
  box-shadow: 0 0 1px var(--grey-light);
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.range-slider__thumb-right,
.range-slider__thumb-left {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  height: 18px;
  width: 6px;
  background: url("./products/range-thumb-icon.svg") left center no-repeat;
  background-size: cover;
  cursor: grab;
}

/* cursor over all slider, so that if the cursor moves out of the thumb, it's still grabbing */
.range-slider_dragging,
.range-slider_dragging .range-slider__thumb-right,
.range-slider_dragging .range-slider__thumb-left {
  cursor: grabbing;
}

.range-slider__thumb-left {
  left: 0;
  margin-left: -6px;
}

.range-slider__thumb-right {
  right: 0;
  transform: rotate(180deg);
  margin-right: -6px;
}

.range-slider__progress {
  background: var(--blue);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.range-slider {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 60px;
}

.range-slider > span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--table-grey);
  width: 60px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.range-slider > span:first-child {
  text-align: right;
  left: 0;
}

.range-slider > span:last-child {
  right: 0;
}

.category {
  background: var(--white);
  border: 1px solid var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  margin-bottom: 16px;
}
.category.category_add-first {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--grey-extra-light);
  border: 1px solid var(--grey-light);
  box-shadow: none;
}
.category.category_add-first p {
  color: var(--grey);
  margin: 0 0 12px;
}
.category.category_add-first .category__body,
.category.category_add-first .category__header {
  flex: 1 0 auto;
}
.category__header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 16px 40px;
  position: relative;
  cursor: pointer;
}
.category__header::before {
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left: 6px solid var(--grey);
  position: absolute;
  top: 50%;
  left: 19px;
  margin-top: -6px;
  transition: 0.3s all ease;
}
.category.category_open .category__header::before {
  left: 16px;
  margin-top: -3px;
  transform: rotate(90deg);
}
.category__header .link {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--blue);
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  display: inline-block;
  transition: 0.2s all;
}
.category__header .link:hover {
  text-decoration: underline;
}
.category__body {
  height: 0;
  overflow: hidden;
  transition: all 0.05s ease-out;
}
.category.category_open {
  background: var(--grey-extra-light);
  border: 1px solid var(--grey-light);
  box-shadow: none;
}
.category.category_open .category__body {
  height: auto;
}
.subcategory-list {
  padding: 0 16px 24px 40px;
}
.categories.categories_empty {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.categories form input {
  margin-right: 12px;
}
.categories__sortable-list {
  margin: 0;
}
.categories__sortable-list-item {
  margin: 12px 0;
  padding: 12px 16px;
  min-height: 48px;
}
.categories__sortable-list-item > strong {
  color: var(--dark-blue);
}
.categories__sortable-list-item > span {
  color: var(--grey);
}