:root {
  --blue: #109cf1;
  --dark-blue: #334d6e;
  --light-blue: #cfebfc;
  --middle-blue: #9fd7f9;
  --yellow: #ffb946;
  --red: #f7685b;
  --green: #2ed47a;
  --purple: #885af8;
  --black: #192a3e;
  --table-black: #323c47;
  --table-grey: #707683;
  --grey: #90a0b7;
  --grey-light: #c2cfe0;
  --grey-extra-light: #eff1f4;
  --grey-skeleton: #f5f6f8;
  --white: #ffffff;
}

.rangepicker {
  position: relative;
}

.rangepicker__input {
  display: inline-flex;
  padding: 12px 16px 12px 40px;
  cursor: pointer;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 4px;
  outline: none;
  background: var(--white) url("calendar-icon.svg") 16px center no-repeat;
  background-size: 18px 18px;
}

.rangepicker_open .rangepicker__input,
.rangepicker__input:focus,
.rangepicker__input:active {
  border-color: var(--blue);
}

.rangepicker__input > span {
  display: inline-flex;
  margin: 0 4px;
}

.rangepicker__input > span:last-child {
  margin-right: 0;
}

.rangepicker__selector {
  display: none;
  background-color: var(--white);
  padding: 32px 26px;
  border-radius: 6px;
  box-shadow: 0 4px 29px rgba(0, 0, 0, 0.09);
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0 auto;
  position: absolute;
  top: calc(100% + 16px);
  right: 0;
  z-index: 1;
}

.rangepicker__selector-arrow {
  width: 30px;
  height: 15px;
  position: absolute;
  bottom: 100%;
  right: 60px;
  overflow: hidden;
}

.rangepicker__selector-arrow:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--white);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  top: 100%;
  left: 50%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.09);
}

.rangepicker_open .rangepicker__selector {
  display: inline-flex;
}

.rangepicker__cell {
  cursor: pointer;
}

.rangepicker__calendar {
  width: 252px;
}

.rangepicker__calendar:last-child {
  margin-left: 26px;
}

.rangepicker__month-indicator {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 0 15px;
  color: var(--dark-blue);
}

.rangepicker__selector-control-left,
.rangepicker__selector-control-right {
  position: absolute;
  top: 32px;
  width: 15px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all;
  background: url("angle-arrow-icon.svg") left center no-repeat;
  background-size: 9px 13px;
}

.rangepicker__selector-control-left:hover,
.rangepicker__selector-control-right:hover {
  opacity: 0.8;
}

.rangepicker__selector-control-left {
  left: 26px;
}

.rangepicker__selector-control-right {
  right: 26px;
  transform: rotate(180deg);
}

.rangepicker__day-of-week,
.rangepicker__date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.rangepicker__day-of-week {
  margin-top: 28px;
}

.rangepicker__day-of-week > * {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--grey);
  text-align: center;
}

/* Dates */
.rangepicker__date-grid {
  margin-top: 16px;
}

.rangepicker__cell {
  position: relative;
  border: 0;
  width: 36px;
  height: 36px;
  background-color: transparent;
  color: var(--dark-blue);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.rangepicker__cell:first-child {
  grid-column-start: var(--start-from);
}

.rangepicker__cell:active,
.rangepicker__cell.rangepicker__selected,
.rangepicker__cell.rangepicker__selected-from,
.rangepicker__cell.rangepicker__selected-to {
  background-color: var(--blue);
  color: var(--white);
}

.rangepicker__cell:hover,
.rangepicker__cell:focus {
  outline: none;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  transition: 0.2s all;
}

.rangepicker__cell.rangepicker__selected:hover,
.rangepicker__cell.rangepicker__selected-from:hover,
.rangepicker__cell.rangepicker__selected-to:hover,
.rangepicker__cell.rangepicker__selected:focus,
.rangepicker__cell.rangepicker__selected-from:focus,
.rangepicker__cell.rangepicker__selected-to:focus {
  background-color: var(--middle-blue);
  color: var(--dark-blue);
}

.rangepicker__cell.rangepicker__selected-between {
  background-color: var(--light-blue);
}
