<!doctype html>
<meta charset="UTF-8">
<title>Tooltip</title>

<link rel="stylesheet" type="text/css" href="style.css">

<body>
  <div data-tooltip="foo">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi enim esse sapiente.
    Necessitatibus praesentium similique voluptatem.
    <div data-tooltip="bar-bar-bar">
      Aperiam consectetur dignissimos dolores ex mollitia.
    </div>
    Alias aliquid animi corporis debitis, eveniet explicabo facilis hic laborum magni nisi nulla
    numquam odio omnis quaerat quas quia, reiciendis repellat repellendus sint sit soluta suscipit
    temporibus voluptate.
  </div>

  <script type="module">
    import Tooltip from './index.js';

    const tooltip = new Tooltip();

    tooltip.initialize();
  </script>
</body>


